<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<!-- Console appender -->
	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="INFO" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%r %d{ISO8601} %-5p %c - %m%n"/>
    	</layout>
	</appender>

  	<!-- File Appender for debug and higher -->
	<appender name="DebugAppender" class="org.apache.log4j.RollingFileAppender">
    	<param name="File" value="${catalina.home}/logs/moskito-webcontrol-debug.log" />
    	<param name="Threshold" value="DEBUG" />
    	<param name="MaxFileSize" value="100MB" />       
    	<param name="MaxBackupIndex" value="5" />
    	<layout class="org.apache.log4j.PatternLayout">
      		<param name="ConversionPattern"
				value="%r %d{ISO8601} %-5p %c - %m%n"/>
    	</layout>
  	</appender>
	<appender name="InfoAppender" class="org.apache.log4j.RollingFileAppender">
    	<param name="File" value="logs/moskito-webcontrol-info.log" />
    	<param name="Threshold" value="INFO" />
    	<param name="MaxFileSize" value="100MB" />       
    	<param name="MaxBackupIndex" value="5" />
    	<layout class="org.apache.log4j.PatternLayout">
      		<param name="ConversionPattern"
				value="%r %d{ISO8601} %-5p %c - %m%n"/>
    	</layout>
  	</appender>
	<appender name="WarnAppender" class="org.apache.log4j.RollingFileAppender">
    	<param name="File" value="logs/moskito-webcontrol-warn.log" />
    	<param name="Threshold" value="WARN" />
    	<param name="MaxFileSize" value="100MB" />       
    	<param name="MaxBackupIndex" value="5" />
    	<layout class="org.apache.log4j.PatternLayout">
      		<param name="ConversionPattern"
				value="%r %d{ISO8601} %-5p %c - %m%n"/>
    	</layout>
  	</appender>
	<appender name="ErrorAppender" class="org.apache.log4j.RollingFileAppender">
    	<param name="File" value="logs/moskito-webcontrol-error.log" />
    	<param name="Threshold" value="ERROR" />
    	<param name="MaxFileSize" value="100MB" />       
    	<param name="MaxBackupIndex" value="5" />
    	<layout class="org.apache.log4j.PatternLayout">
      		<param name="ConversionPattern"
				value="%r %d{ISO8601} %-5p %c - %m%n"/>
    	</layout>
  	</appender>
	<appender name="FatalAppender" class="org.apache.log4j.RollingFileAppender">
    	<param name="File" value="logs/moskito-webcontrol-fatal.log" />
    	<param name="Threshold" value="FATAL" />
    	<param name="MaxFileSize" value="100MB" />       
    	<param name="MaxBackupIndex" value="5" />
    	<layout class="org.apache.log4j.PatternLayout">
      		<param name="ConversionPattern"
				value="%r %d{ISO8601} %-5p %c - %m%n"/>
    	</layout>
  	</appender>

 	<!-- File Appender for root logger -->
	<appender name="RootAppender" class="org.apache.log4j.RollingFileAppender">
    	<param name="File" value="logs/moskito-webcontrol-root.log" />
    	<param name="Threshold" value="WARN" />
    	<param name="MaxFileSize" value="100MB" />       
    	<param name="MaxBackupIndex" value="5" />
    	<layout class="org.apache.log4j.PatternLayout">
      		<param name="ConversionPattern"
				value="%r %d{ISO8601} %-5p %c - %m%n"/>
    	</layout>
  	</appender>

  	<logger name="net.anotheria.moskito.webcontrol" additivity="false">
		<level value="DEBUG"/>
		<appender-ref ref="DebugAppender"/>
		<appender-ref ref="InfoAppender"/>
		<appender-ref ref="WarnAppender"/>
		<appender-ref ref="ErrorAppender"/>
		<appender-ref ref="FatalAppender"/>
		<appender-ref ref="RootAppender"/>
		<appender-ref ref="ConsoleAppender"/>
	</logger>
 
 	<logger name="net.anotheria" additivity="false">
		<level value="WARN"/>
		<appender-ref ref="InfoAppender"/>
		<appender-ref ref="WarnAppender"/>
		<appender-ref ref="ErrorAppender"/>
		<appender-ref ref="FatalAppender"/>
		<appender-ref ref="RootAppender"/>
		<appender-ref ref="ConsoleAppender"/>
	</logger>
	
	<!-- root logger - logs warnings and higher to console and file -->
	<root>
		<level value="ERROR"/>
		<appender-ref ref="RootAppender"/>
		<appender-ref ref="ErrorAppender"/>
		<appender-ref ref="FatalAppender"/>
		<appender-ref ref="ConsoleAppender"/>
	</root>
  
</log4j:configuration>
  
