<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>moskito minimal</display-name>

        <!-- fix for jboss -->
        <!--
      <context-param>
        <param-name>resteasy.scan</param-name>
        <param-value>false</param-value>
      </context-param>
      <context-param>
        <param-name>resteasy.scan.providers</param-name>
        <param-value>false</param-value>
      </context-param>
      <context-param>
        <param-name>resteasy.scan.resources</param-name>
        <param-value>false</param-value>
      </context-param>
            -->
	<welcome-file-list>
	    	<welcome-file>index.html</welcome-file>
  	</welcome-file-list>

    <listener>
		<listener-class>
            net.anotheria.moskitominimal.listeners.SetupThresholds
        </listener-class>
    </listener>

</web-app> 