body {
    margin: 20px;
}

a {
    color: #000;
}

/* ---------  ACCUMULATORS PAGE ------------ */
.main_menu .top ul,
.top .left_bg,
.top .right,
.autoreload_wrapper,
.table_layout .top,
.table_itseft .bot,
.refresh,
.table_layout .bot,
.zoom,
.del,
.accumulators_submit_button {
    display: none;
}

.main_menu {
    position: static;
}

.main {
    padding-top: 30px!important;
}

.main_menu .top,
.white_pl.white_pl {
    background: none;
}

.table_layout .in {
    background: none;
    border: none;
}

.table_itseft .in table tr.even td {
    background: none;
}

.table_itseft .in table tr td {
    white-space: normal;
}

.table_layout .in .table_itseft {
    border: 1px solid #CCCCCC;
    padding: 2px;
    margin-bottom: 20px;
    -webkit-border-radius: 5px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 5px;
    -moz-border-radius-topleft: 0;
    border-radius: 5px;
    border-top-left-radius: 0;
}
.bar_chart, .pie_chart{
    display: none;
}
.bar_chart.active, .pie_chart.active{
    display: block;
}
/* ---------  /ACCUMULATORS PAGE ------------ */