<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="INFO"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				   value="%r %d{ISO8601} %-5p %c - %m%n"/>
		</layout>
	</appender>

	<appender name="InfoAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="logs/moskitodemo-info.log"/>
		<param name="Threshold" value="INFO"/>
		<param name="MaxFileSize" value="100MB"/>
		<param name="MaxBackupIndex" value="5"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				   value="%r %d{ISO8601} %-5p %c - %m%n"/>
		</layout>
	</appender>

	<!-- moskito appenders  begin-->
	<appender name="MoskitoAlertAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="logs/moskito_alerts.log"/>
		<param name="Threshold" value="INFO"/>
		<param name="MaxFileSize" value="100MB"/>
		<param name="MaxBackupIndex" value="5"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				   value="%r %d{ISO8601} %-5p %c - %m%n"/>
		</layout>
	</appender>
	<appender name="MoskitoDefaultAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="logs/moskito_default.log"/>
		<param name="Threshold" value="INFO"/>
		<param name="MaxFileSize" value="100MB"/>
		<param name="MaxBackupIndex" value="5"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				   value="%r %d{ISO8601} %-5p %c - %m%n"/>
		</layout>
	</appender>

	<appender name="Moskito5mAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="logs/moskito_5m.log"/>
		<param name="Threshold" value="INFO"/>
		<param name="MaxFileSize" value="100MB"/>
		<param name="MaxBackupIndex" value="5"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				   value="%r %d{ISO8601} %-5p %c - %m%n"/>
		</layout>
	</appender>
	<appender name="MoskitoBIDefaultAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="logs/moskito_bi_default.log"/>
		<param name="Threshold" value="INFO"/>
		<param name="MaxFileSize" value="100MB"/>
		<param name="MaxBackupIndex" value="5"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				   value="%r %d{ISO8601} %-5p %c - %m%n"/>
		</layout>
	</appender>

	<appender name="MoskitoBI5mAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="logs/moskito_bi_5m.log"/>
		<param name="Threshold" value="INFO"/>
		<param name="MaxFileSize" value="100MB"/>
		<param name="MaxBackupIndex" value="5"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				   value="%r %d{ISO8601} %-5p %c - %m%n"/>
		</layout>
	</appender>
	
	
	<logger name="MoskitoAlert" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="MoskitoAlertAppender"/>
	</logger>
	<logger name="MoskitoDefault" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="MoskitoDefaultAppender"/>
	</logger>
	<logger name="Moskito5m" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="Moskito5mAppender"/>
	</logger>
	<logger name="MoskitoBIDefault" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="MoskitoBIDefaultAppender"/>
	</logger>
	<logger name="MoskitoBI5m" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="MoskitoBI5mAppender"/>
	</logger>
	
	
	<root>
		<level value="INFO"/>
		<appender-ref ref="ConsoleAppender"/>
		<appender-ref ref="InfoAppender"/>
	</root>
  
</log4j:configuration>
  
