<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <!-- Console appender -->
    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="INFO"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%r %d{ISO8601} %-5p %c - %m%n"/>
        </layout>
    </appender>
    <logger name="net.anotheria.moskito.web" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="ConsoleAppender"/>
    </logger>
    <root>
        <priority value="INFO"></priority>
        <appender-ref ref="ConsoleAppender"/>
    </root>

</log4j:configuration>

