* {margin:0; padding:0; outline:none;}
html, body {height:100%; min-height:100%;}
body {font-size:14px; color:#091a38; line-height:17px; background:#efefef; font-family:Arial, Helvetica, sans-serif;}
a {color:#093994; text-decoration:underline;}
a:hover {text-decoration:none;}
img {border:0;}
.clear {height:0; clear:both;}
.main {min-height:100%;}
.empty {height:120px; }
.footer {height:97px; background:url("../images/footer_bg.gif") 0 0 repeat-x; margin-top:-97px;}
.w_980 {width:980px; margin:0 auto;}
.header {height:81px; background:url("../images/header_bg.gif") 0 0 repeat-x; padding-top:4px; position:relative; z-index:2;}
.main_menu {padding-top:1px; border-left:1px solid #c1c1c1; border-right:1px solid #fbfbfb; float:left; margin-left:225px; height:64px;}
.main_menu li {list-style-type:none; border-left:1px solid #fbfbfb; border-right:1px solid #c1c1c1; display:block; float:left;}
.main_menu li a {color:black; font-family: "Arial Narrow", Arial, Tahoma, sans-serif; font-size:18px; text-decoration:none; padding:24px 20px 23px 20px; display:block;}
.main_menu li:hover {background:url("../images/main_li_hover.gif") 0 0 repeat-x;}
.main_menu li.active {background:url("../images/main_li_active.gif") 100% 0 no-repeat; border:0;}
.main_menu li.active a {background:url("../images/main_li_active.gif") 0 -64px no-repeat;}
.main_menu li.logo {padding:0; border:0; margin-top:-1px;}
.main_menu li.logo a {padding:0;}

.banner_zone {height:335px; background:url("../images/banner_bg.gif") 0 0 repeat-x; margin-top:-15px; position:relative; padding-top:51px; position:relative; z-index:1;}
.banner_zone .pl_banner {width:960px; height:335px; background:url("../images/pl_banner.png") 0 0 no-repeat; margin:0 auto;}
.banner_zone .pl_banner .fll {overflow:hidden; width:460px; float:left;}
.banner_zone .pl_banner .fll h4 {width:247px; height:24px; background:url("../images/mis_st.png") 0 0 no-repeat; text-indent:-9999px; margin:30px 0 20px 29px}
.banner_zone .pl_banner .fll p {line-height:22px; margin-left:29px; margin-bottom:20px;}

.button {height:51px; float:right; display:block; background:url("../images/buttons.gif") 100% -51px no-repeat; padding-right:5px; text-decoration:none; margin-left:20px;}
.button span {height:41px; float:left; display:block; background:url("../images/buttons.gif") 0 0 no-repeat; padding:10px 10px 0 15px; color:white; font-size:22px;}
.button span strong {font-size:12px; display:block; font-weight:normal;}
.button.blue {background:url("../images/buttons.gif") 100% -255px no-repeat;}
.button.blue span {background:url("../images/buttons.gif") 0 -204px no-repeat; padding-top:17px; height:34px;}
.button:hover {background:url("../images/buttons.gif") 100% -153px no-repeat}
.button:hover span {background:url("../images/buttons.gif") 0 -102px no-repeat;}
.button.blue:hover {background:url("../images/buttons.gif") 100% -357px no-repeat;}
.button.blue:hover span {background:url("../images/buttons.gif") 0 -306px no-repeat;}

.banner_zone .pl_banner .scrsht {width:480px; height:352px; background:url("../images/scrsht.png") 0 0 no-repeat; float:right; margin:-17px 13px 0 0;}

.w_980.pad {width:940px; padding:0 20px; overflow:hidden;}
.w_980.pad .left_col {float:left; width:623px; margin-right:20px;}
h2 {font-size:24px; color:#9c0000; line-height:normal; font-weight:normal; margin:17px 0 13px 0;}

.tabs {display:block; overflow:hidden; position:relative; z-index:3;}
.tabs li {list-style-type:none; display:block; float:left; padding-right:5px;}
.tabs li a {padding:9px 15px 0 20px; display:block; height:22px;}
.tabs li.active {background:url("../images/tabs.gif") 100% -31px no-repeat;}
.tabs li.active a {background:url("../images/tabs.gif") 0 0 no-repeat; text-decoration:none; color:#091a38;}

.cont {position:relative; z-index:2;}
.cont .top {height:5px; background:url("../images/borders.gif") 100% -5px no-repeat; padding-right:5px;}
.cont .top div {height:5px; background:url("../images/borders.gif") 0 0 no-repeat;}
.cont .in {background:#ffffff; border:1px solid #97b7e6; border-top:none; border-bottom:none; padding:17px 20px; overflow:hidden;}
.cont .bot {height:5px; background:url("../images/borders.gif") 100% -10px no-repeat; padding-right:5px;}
.cont .bot div {height:5px;background:url("../images/borders.gif") 0 -15px no-repeat;}
.cont.tab {margin-top:-1px;}
.cont.tab .top div {background:url("../images/borders.gif") 0 -20px no-repeat;}
.cont .in ul li {list-style-type:none; margin-bottom:1em; font-size:12px; line-height:17px; padding-left:33px; background:url("../images/bullet.gif") 0 3px no-repeat;}

.comp {display:block; margin-bottom:-20px; overflow:hidden;}
.comp li {display:block; float:left; width:45%; margin-right:5%;  background:none !important; padding:0 !important; margin-bottom:20px !important;}
.comp li span {display:block; color:#535353; font-size:12px; line-height:normal;}

p {font-size:14px; line-height:22px; margin-bottom:1em;}
.mt_1em {margin-top:1em;}

.right_col {float:left; width:295px;}
.date {font-size:10px; color:#535353; display:block; margin-top:-5px;}
.right_col ul {overflow:hidden; margin-bottom:-1em;}

.footer .fll {float:left; padding:30px 0 0 20px;}
.footer .fll ul {display:block; margin-bottom:5px;}
.footer .fll ul li {list-style-type:none; display:inline; font-size:12px; }
.footer .fll span {font-size:12px;}
.footer .flr {float:right; padding:30px 20px 0 0;}

.f_14 li {font-size:14px !important;}

.dl {float:left; width:615px;}
.dr {float:right; width:240px;}
.dr div {font-size:16px; margin-bottom:8px;}
.dr .button {margin-bottom:20px; float:left; margin-left:0;}
.list {margin:10px 0 0 0 !important;}
.list li {background:none !important; padding:0 !important; margin:0 0 2px 20px !important; list-style-type:circle !important; }