/*a:link,*/
/*a:active,*/
/*a:visited {color: #3C6FA8; text-decoration: none}*/
/*a:hover   {color: #3C6FA8; text-decoration: underline}*/

/*a.topic:link,*/
/*a.topic:active,*/
/*a.topic:visited {color: #3C6FA8; font-weight: bold; text-decoration: none}*/
/*a.topic:hover   {color: #3C6FA8; font-weight: bold; text-decoration: underline}*/

/*body {margin: 3 3;  background-color: #ffffff; }*/
/*body,td {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000;} */


/*.lineCaptions {background-color: #dddddd; padding-left: 4px; padding-top: 2px; padding-bottom: 2px;}*/
/*.lineDark  {background-color: #dddddd; padding-left: 4px; padding-top: 2px; padding-bottom: 2px;}*/
/*.lineLight {background-color: #eeeeee; padding-left: 4px; padding-top: 2px; padding-bottom: 2px;}*/

/*.head_topic_dark  {background-color: #dddddd; padding-left: 4px; padding-top: 4px; padding-bottom: 4px;}*/
/*.head_topic_light {background-color: #eeeeee; padding-left: 4px; padding-top: 4px; padding-bottom: 4px;}*/

/*.menuTitleSelected  {background-color: #dddddd; padding-left: 4px; padding-top: 4px; padding-bottom: 4px;}*/
/*.menuTitle {background-color: #eeeeee; padding-left: 4px; padding-top: 4px; padding-bottom: 4px;}*/

h3 {margin-bottom:1em;}
.guestbook {width:897px;}
.guestbook .top {height:18px; background:url("../images/gb/top.png") 0 0 no-repeat;}
.guestbook .in {background:url("../images/gb/bg.png") 100% 0 repeat-y; border:0; padding:0;}
.guestbook .bot {height:20px; background:url("../images/gb/bot.png") 0 0 no-repeat;}
.guestbook .in .paper_bg {background:url("../images/gb/paper.png") 0 0 repeat-y; padding:25px 39px 0 100px; min-height:500px; overflow:hidden;}
.left_f, .right_f {float:left; height:75px; overflow:hidden; width:260px; margin-right:7px;}
.right_f {width:385px;}
.left_f label, .right_f label {width:70px; display:block; text-align:right; height:21px; float:left; clear:both; font-size:12px; margin:4px 5px 0 0;}
.left_f input {border:1px solid #989898; height:16px; background:#fff9da; display:block; float:left; width:178px; margin-top:3px; padding:0 2px; font-size:12px; color:#091A38; //margin:3px 0 4px 0;}
.right_f textarea {border:1px solid #989898; background:#fff9da; display:block; float:left; width:300px; padding:2px; margin-top:3px; height:62px;  font-size:12px; color:#091A38; resize:none;}
#notify {float:left; display:block; margin:5px 0 0 74px; //margin:2px 0 0 72px;}
.notify_label {display:block; float:left; font-size:12px; margin:4px 0 0 8px; height:21px;}
.gb_btn {float:left; width:68px; height:18px; background:url("../images/gb/gb_btn.png") 0 0 no-repeat; color:white; text-decoration:none; text-align:center; padding-top:2px; font-weight:bold; margin:2px 0; font-size:12px;}
.gb_btn:hover {background:url("../images/gb/gb_btn.png") 0 -20px no-repeat;}
.ml_75 {margin-left:75px;}
.ml_63 {margin-left:63px;}
.space {height:25px;}
.guestbook table {margin-bottom:25px; max-width:755px; overflow:hidden;}
.guestbook table a, .guestbook table  {color:#091a38; font-size:12px;}
.guestbook table tbody tr a {display:block; max-width:140px; overflow:hidden;}
.guestbook table td {height:25px; white-space:nowrap; padding-right:25px; font-size:12px;}
.guestbook table th {padding-right:25px; text-align:left; white-space:nowrap; height:25px;}
.guestbook table th a {text-decoration:underline; font-weight:normal !important;}
.guestbook table th a.up {background:url("../images/gb/arrows.png") 100% 5px no-repeat; padding-right:15px;}
.guestbook table th a.down {background:url("../images/gb/arrows.png") 100% -40px no-repeat; padding-right:15px;}
.guestbook table th a:hover {text-decoration:underline;}

.guestbook ul {}
.guestbook ul li {background:none !important; padding:0 0 !important; margin:0 !important; overflow:hidden; clear:both; font-size:12px; //margin-bottom:-3px !important;}
.guestbook ul li div {float:left; display:block; width:55px; text-align:right; margin-right:8px; line-height:25px; height:25px;}
.guestbook ul li span {display:block; float:left; width:690px; line-height:25px;}

.guestbook .paginator {display:block; text-align:center;}
.guestbook .paginator a {cursor:pointer; font-weight:normal; display:inline !important;}
.guestbook .paginator li {list-style-type:none; font-size:14px; display:inline; margin-right:5px !important; font-weight:bold;}
.guestbook .paginator li.prev {padding-left:8px !important; background:url("../images/gb/paginator.png") 0 -39px no-repeat !important; font-weight:bold !important;}
.guestbook .paginator li.next {padding-right:8px !important; background:url("../images/gb/paginator.png") 100% 4px no-repeat !important; font-weight:bold !important;}
.guestbook .paginator li.prev a, .guestbook .paginator li.next a {font-weight:bold;}
