* {margin:0; padding:0; outline:none;}
html {}
body {font:normal 12px Tahoma, sans-serif; color:black; background:#f2f2f2;}
img {border:0;}
.clear {height:0 !important; clear:both;}
a {color:#003366; text-decoration:underline; cursor:pointer;}
a:hover {text-decoration:none;}
h1 { font-weight:bold; font-size:16px; line-height:normal; font-family:  Tahoma, sans-serif; color:black; margin-bottom:10px;}
h2 {font-size:14px; margin-bottom:15px;}
h3 { text-decoration:none; font-weight:bold; font-size:16px; line-height:normal; color:black; margin-bottom:12px; font-family: "Arial Narrow", Arial, Tamona, sans-serif; margin-top:18px;}
p {margin-bottom:1em;}

input[type="text"] {background:white; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; border:1px solid #336296; height:18px; display:inline-block; padding:0 2px; font-family:Arial, sans-serif; font-size:12px;}
textarea {background:white; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; border:1px solid #336296; display:inline-block; padding:2px; font-family:Arial, sans-serif; font-size:12px;}
.button {background:white; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; border:1px solid #336296; height:18px; line-height:18px; color:black; text-decoration:none; padding:0 10px; display:inline-block;  font-size:12px; font-family:Tahoma, sans-serif; background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(186,219,255)), color-stop(1, rgb(255,255,255))); background-image: -moz-linear-gradient(center bottom, rgb(186,219,255) 0%, rgb(255,255,255) 100%); cursor:pointer;}
.button:hover {background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(255,255,255)), color-stop(1, rgb(186,219,255))); background-image: -moz-linear-gradient(center bottom, rgb(255,255,255) 0%, rgb(186,219,255) 100%);}
input.button {height:20px; } 
.header {padding:0 20px; height:59px; border-bottom:1px solid #709bcb; background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(194,218,244)), color-stop(1, rgb(233,244,255))); background-image: -moz-linear-gradient( center bottom, rgb(194,218,244) 0%, rgb(233,244,255) 100% ); min-width:960px; position:relative; }
.logo {font-size:20px; font-family:Verdana, sans-serif; display:inline-block; margin:0 20px 0 0; height:59px; position:relative; vertical-align:top; line-height:59px;}
.logo img {vertical-align:middle;}
.header ul {display:inline-block; position:relative; top:24px; height:36px;}
.header ul li {list-style-type:none; display:block; margin-right:5px; float:left;}
.header ul li a {color:white; text-decoration:none; font-size:14px; display:inline-block; background:#729dcd; padding:7px 10px 0 10px; height:27px; border:1px solid #729dcd;  -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px; -moz-border-radius-topleft:5px; -moz-border-radius-topright:5px; border-top-left-radius:5px; border-top-right-radius:5px;}
.header ul li.active a {background:#f2f2f2; border:1px solid #729dcd; color:black; border-bottom:1px solid #f2f2f2;}
.header .tar {float:right; text-align:right; padding-top:7px;}
.header .tar div {margin-bottom:7px;}
.header .tar .button {position:relative; top:1px;}

.content {padding:20px; min-width:960px;}
.content .button {border:1px solid #698eb6;}
.flr {float:right;}

.content .tabs {display:inline-block; margin-left:25px; float:left;}
.content .tabs li {list-style-type:none; display:block; margin-right:5px; float:left;}
.content .tabs li a {color:white; text-decoration:none; font-size:12px; display:inline-block; background:#729dcd; padding:4px 10px 0 10px; height:20px; border:1px solid #729dcd;  -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px; -moz-border-radius-topleft:5px; -moz-border-radius-topright:5px; border-top-left-radius:5px; border-top-right-radius:5px;}
.content .tabs li.active a {background:white; border:1px solid #729dcd; color:black; border-bottom:1px solid white;}

table, .form_frame {display:inline-block; vertical-align:top; margin:0 20px 20px 0; }
table thead tr th {font-weight:bold; text-align:left; padding:0 6px; border-bottom:1px solid #6b96c6; height:26px;}
table tbody tr td {padding:0 6px; height:26px;}
table tbody tr:hover td {background:#c8dff7;}
table tbody tr:nth-child(odd) {background:#ededed;}
table tbody tr:nth-child(even) {background:white;}
.add, .delete, .edit, .clone, .up, .down, .bind, .ping, .unbind, .shutdown {display:inline-block; height:20px; line-height:20px; padding-left:27px; background:url("../images/icons.png") 0 0 no-repeat;}
.edit {background-position:0 -30px;}
.delete {background-position:0 -60px;}
.clone {background-position:0 -90px;}
.up {background-position:0 -120px;}
.down {background-position:0 -150px;}
.bind {background-position:0 -180px;}
.ping {background-position:0 -210px;}
.unbind {background-position:0 -240px;}
.shutdown {background-position:0 -270px;}

.ping_all {background:url("../images/buttons.png") 100% -152px no-repeat; padding-right:3px; display:inline-block; height:20px; text-decoration:none; color:black;}
.ping_all span {background:url("../images/buttons.png") 0 -121px no-repeat; padding:0 7px 0 27px; line-height:20px; display:inline-block;}
.ping_all:hover {background-position:100% -212px;}
.ping_all:hover span {background-position:0 -182px;}

.shutdown_all {background:url("../images/buttons.png") 100% -31px no-repeat; padding-right:3px; display:inline-block; height:20px; text-decoration:none; color:black;}
.shutdown_all span {background:url("../images/buttons.png") 0 0 no-repeat; padding:0 7px 0 27px; line-height:20px; display:inline-block;}
.shutdown_all:hover {background-position:100% -91px;}
.shutdown_all:hover span {background-position:0 -61px;}

.form_frame {background:#f0f7ff; border:1px solid #6b96c6; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; padding:20px 20px 10px 20px;}
form {}
form label {margin-bottom:2px; display:inline-block;}
form input, form textarea {margin-bottom:8px;}
form textarea {width:150px;}


/*My*/
.box {margin:0 10px 10px 0; float:left; border:1px solid #808080; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; background:white; padding:8px 10px 0 0; behavior: url(styles/ie-css3.htc);margin-left: 10px; margin-right: 10px; marging-top: 10px;}
.box .inn {float:left; min-height:60px; margin-left: 10px; margin-right: 10px;}

.line {border-top:1px solid #808080; border-bottom:1px solid #d9d9d9; margin-right:10px; margin-bottom:10px; margin-left: 10px;}
strong.ml_9 {margin-left:9px; margin-bottom:10px; display:block;}
.instanceList {padding-left: 20px;}
