@media (max-width: 1440px) {
    #footer,
    .content {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 1024px) {
    .jour-left {
        float: none;
        border: none;
        padding-right: 0;
    }

    .jour-right {
        margin-left: 0;
        margin-top: 20px;
    }

    .box-feedback,
    .box-help-links {
        min-height: inherit;
    }
}

@media (max-width: 767px) {
    .navbar-collapse {
        float: none !important;
        border-top: 1px solid #E5E5E5;
        clear: both;
    }

    .navbar-collapse .navbar-nav {
        float: none !important;
    }

    #header .navbar-form {
        margin: 0 -15px;
        border-top: 0;
    }

    .content {
        padding: 30px 20px 10px;
    }

    .box {
        margin-bottom: 20px;
    }

    .aside-collapse #main,
    #main {
        margin-left: 0;
    }

    .aside-collapse #aside {
        left: -220px;
    }

    .aside-collapse #header {
        left: 0;
    }

    #main .form-control {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 500px) {
    .content {
        padding: 20px 10px 0;
    }

    .box-right-nav {
        display: none;
    }
}