@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) {
    .logo {
        background-image: url("../img/logo@2x.png");
        background-size: 58px auto;
    }

    .aside-collapse .logo {
        background-image: url("../img/logo@2x.png");
        background-size: 40px auto;
    }
}
