a {
    color: #738de7;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #4b5ea3;
    text-decoration: underline;
}
a:active,
a:focus {
    outline: none;
}

.navbar-toggle {
    margin: 0;
    border: none;
    border-left: 1px solid #E5E5E5;
    border-radius: 0;
    line-height: 50px;
    min-height: 50px;
    width: 50px;
    text-align: center;
    padding: 9px 14px;
}

.navbar-toggle:hover {
    background: none !important;
}

.navbar-toggle:active {
    box-shadow: 0 4px 0 rgba(0,0,0,0.2) inset;
    background: #f5f5f5 !important;
}

.navbar-nav > li > a {
    font-size: 14px;
}

dl {
    margin-bottom: 0;
}

.dl-horizontal dd,
.dl-horizontal dt {
    padding: 2px 0;
}

.btn {
    font-family: "Lato", Exo sans-serif;
    font-size: 13px;
    padding: 7px 12px;
    min-width: 70px;
}

.btn-default {
    background-color: #EEEEEE;
    border-color: #E3E3E3;
    color: #444;
}

.btn-primary {
    color: #fff;
    background-color: #859be8;
    border-color: #859be8;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #738DE7;
    border-color: #738DE7;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #738DE7;
    border-color: #738DE7;
}

.btn-success {
    color: #fff;
    background-color: #53d769;
    border-color: #53d769;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #64BD63;
    border-color: #64BD63;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #64BD63;
    border-color: #64BD63;
}

.text-green {
    color: #64BD63;
}

#main .form-control {
    background: #f5f5f5;
    border: 1px solid #dddddd;
    box-shadow: none;
}