html,body { margin: 0; padding: 0; height: 100%; }

h1 { font: 1.5em Arial,Helvetica,sans-serif; margin: 0.5em 0; }
h2 { font: 1.25em Arial,Helvetica,sans-serif; margin: 0 0 0.5em; }
h1,h2,a { color: #005FC1; }
p { line-height: 1.5; margin: 0 0 1em; }

div#dashboard-container { position: relative; margin: 0 auto; width: 100%; height: auto !important; height: 100%; min-height: 100%; }
div#dashboard-header { padding: 0.75em; min-width: 600px; font-family: Arial,Helvetica,sans-serif; font-size: 1em; color: #005FC1; }
div#dashboard-header-close { clear: both; }
div#dashboard-content { padding: 1em 1em 5em; }
div#dashboard-footer { position: absolute; width: 100%; bottom: 0; }
div#dashboard-footer-copyright { padding: 0.5em; font-family: Arial,Helvetica,sans-serif; font-size: 0.75em; color: #005FC1; text-align: center; }