<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<!-- Console appender -->
	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="INFO" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%r %d{ISO8601} %-5p %c - %m%n"/>
    	</layout>
	</appender>
	
	<appender name="ConsoleErrorAppender" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="ERROR" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%r %d{ISO8601} %-5p %c - %m%n"/>
    	</layout>
	</appender>

  	<!-- File Appender for debug and higher -->
	<appender name="DebugAppender" class="org.apache.log4j.RollingFileAppender">
    	<param name="File" value="logs/affairo-site-debug.log" />
    	<param name="Threshold" value="DEBUG" />
    	<param name="MaxFileSize" value="100MB" />       
    	<param name="MaxBackupIndex" value="5" />
    	<layout class="org.apache.log4j.PatternLayout">
      		<param name="ConversionPattern"
				value="%r %d{ISO8601} %-5p %c - %m%n"/>
    	</layout>
  	</appender>
	<appender name="InfoAppender" class="org.apache.log4j.RollingFileAppender">
    	<param name="File" value="logs/affairo-site-info.log" />
    	<param name="Threshold" value="INFO" />
    	<param name="MaxFileSize" value="100MB" />       
    	<param name="MaxBackupIndex" value="5" />
    	<layout class="org.apache.log4j.PatternLayout">
      		<param name="ConversionPattern"
				value="%r %d{ISO8601} %-5p %c - %m%n"/>
    	</layout>
  	</appender>
	<appender name="WarnAppender" class="org.apache.log4j.RollingFileAppender">
    	<param name="File" value="logs/affairo-site-warn.log" />
    	<param name="Threshold" value="WARN" />
    	<param name="MaxFileSize" value="100MB" />       
    	<param name="MaxBackupIndex" value="5" />
    	<layout class="org.apache.log4j.PatternLayout">
      		<param name="ConversionPattern"
				value="%r %d{ISO8601} %-5p %c - %m%n"/>
    	</layout>
  	</appender>
	<appender name="ErrorAppender" class="org.apache.log4j.RollingFileAppender">
    	<param name="File" value="logs/affairo-site-error.log" />
    	<param name="Threshold" value="ERROR" />
    	<param name="MaxFileSize" value="100MB" />       
    	<param name="MaxBackupIndex" value="5" />
    	<layout class="org.apache.log4j.PatternLayout">
      		<param name="ConversionPattern"
				value="%r %d{ISO8601} %-5p %c - %m%n"/>
    	</layout>
  	</appender>
	<appender name="FatalAppender" class="org.apache.log4j.RollingFileAppender">
    	<param name="File" value="logs/affairo-site-fatal.log" />
    	<param name="Threshold" value="FATAL" />
    	<param name="MaxFileSize" value="100MB" />       
    	<param name="MaxBackupIndex" value="5" />
    	<layout class="org.apache.log4j.PatternLayout">
      		<param name="ConversionPattern"
				value="%r %d{ISO8601} %-5p %c - %m%n"/>
    	</layout>
  	</appender>

 	<!-- File Appender for root logger -->
	<appender name="RootAppender" class="org.apache.log4j.RollingFileAppender">
    	<param name="File" value="logs/affairo-site-root.log" />
    	<param name="Threshold" value="WARN" />
    	<param name="MaxFileSize" value="100MB" />       
    	<param name="MaxBackupIndex" value="5" />
    	<layout class="org.apache.log4j.PatternLayout">
      		<param name="ConversionPattern"
				value="%r %d{ISO8601} %-5p %c - %m%n"/>
    	</layout>
  	</appender>
	
	<appender name="AffairoInfoAppender" class="org.apache.log4j.RollingFileAppender">
    	<param name="File" value="logs/affairo-info.log" />
    	<param name="Threshold" value="INFO" />
    	<param name="MaxFileSize" value="100MB" />       
    	<param name="MaxBackupIndex" value="5" />
    	<layout class="org.apache.log4j.PatternLayout">
      		<param name="ConversionPattern"
				value="%r %d{ISO8601} %-5p %c - %m%n"/>
    	</layout>
  	</appender>

	<appender name="AffairoMatchingAppender" class="org.apache.log4j.RollingFileAppender">
    	<param name="File" value="logs/affairo-matching-info.log" />
    	<param name="Threshold" value="INFO" />
    	<param name="MaxFileSize" value="100MB" />       
    	<param name="MaxBackupIndex" value="5" />
    	<layout class="org.apache.log4j.PatternLayout">
      		<param name="ConversionPattern"
				value="%r %d{ISO8601} %-5p %c - %m%n"/>
    	</layout>
  	</appender>
  	
  	<appender name="PaymentVerificationAppender" class="org.apache.log4j.RollingFileAppender">
    	<param name="File" value="logs/affairo-payment-verification.log" />
    	<param name="Threshold" value="INFO" />
    	<param name="MaxFileSize" value="100MB" />       
    	<param name="MaxBackupIndex" value="5" />
    	<layout class="org.apache.log4j.PatternLayout">
      		<param name="ConversionPattern"
				value="%r %d{ISO8601} %-5p %c - %m%n"/>
    	</layout>
  	</appender>
  	
  	<appender name="PaymentMultipaysAppender" class="org.apache.log4j.RollingFileAppender">
    	<param name="File" value="logs/affairo-payment-multipays.log" />
    	<param name="Threshold" value="INFO" />
    	<param name="MaxFileSize" value="100MB" />       
    	<param name="MaxBackupIndex" value="5" />
    	<layout class="org.apache.log4j.PatternLayout">
      		<param name="ConversionPattern"
				value="%r %d{ISO8601} %-5p %c - %m%n"/>
    	</layout>
  	</appender>
  	
  	<appender name="PaymentTrackingAppender" class="org.apache.log4j.RollingFileAppender">
    	<param name="File" value="logs/affairo-payment-tracking.log" />
    	<param name="Threshold" value="INFO" />
    	<param name="MaxFileSize" value="100MB" />       
    	<param name="MaxBackupIndex" value="5" />
    	<layout class="org.apache.log4j.PatternLayout">
      		<param name="ConversionPattern"
				value="%r %d{ISO8601} %-5p %c - %m%n"/>
    	</layout>
  	</appender>
  	
 	<appender name="PaymentMonitoringHeidelpay" class="org.apache.log4j.RollingFileAppender">
    	<param name="File" value="logs/affairo-payment-monitoring-heidelpay.log" />
    	<param name="Threshold" value="INFO" />
    	<param name="MaxFileSize" value="100MB" />       
    	<param name="MaxBackupIndex" value="5" />
    	<layout class="org.apache.log4j.PatternLayout">
      		<param name="ConversionPattern"
				value="%r %d{ISO8601} %-5p %c - %m%n"/>
    	</layout>
  	</appender>
  	<appender name="AccountDeletionAppender" class="org.apache.log4j.RollingFileAppender">
    	<param name="File" value="logs/affairo-account-deletion.log" />
    	<param name="Threshold" value="INFO" />
    	<param name="MaxFileSize" value="100MB" />       
    	<param name="MaxBackupIndex" value="5" />
    	<layout class="org.apache.log4j.PatternLayout">
      		<param name="ConversionPattern"
				value="%r %d{ISO8601} %-5p %c - %m%n"/>
    	</layout>
  	</appender>
  	<appender name="AccountDeletedAppender" class="org.apache.log4j.RollingFileAppender">
    	<param name="File" value="logs/affairo-account-deleted.log" />
    	<param name="Threshold" value="INFO" />
    	<param name="MaxFileSize" value="100MB" />       
    	<param name="MaxBackupIndex" value="5" />
    	<layout class="org.apache.log4j.PatternLayout">
      		<param name="ConversionPattern"
				value="%r %d{ISO8601} %-5p %c - %m%n"/>
    	</layout>
  	</appender>
  	<appender name="RegionsMigrationAppender" class="org.apache.log4j.RollingFileAppender">
    	<param name="File" value="logs/affairo-regions-migration.log" />
    	<param name="Threshold" value="INFO" />
    	<param name="MaxFileSize" value="100MB" />       
    	<param name="MaxBackupIndex" value="5" />
    	<layout class="org.apache.log4j.PatternLayout">
      		<param name="ConversionPattern"
				value="%r %d{ISO8601} %-5p %c - %m%n"/>
    	</layout>
  	</appender>
  	<appender name="RegionsMigrationErrorAppender" class="org.apache.log4j.RollingFileAppender">
    	<param name="File" value="logs/affairo-regions-migration-error.log" />
    	<param name="Threshold" value="ERROR" />
    	<param name="MaxFileSize" value="100MB" />       
    	<param name="MaxBackupIndex" value="5" />
    	<layout class="org.apache.log4j.PatternLayout">
      		<param name="ConversionPattern"
				value="%r %d{ISO8601} %-5p %c - %m%n"/>
    	</layout>
  	</appender>
  	<appender name="AffairoServerAppender" class="org.apache.log4j.RollingFileAppender">
    	<param name="File" value="logs/affairo-server-info.log" />
    	<param name="Threshold" value="INFO" />
    	<param name="MaxFileSize" value="100MB" />       
    	<param name="MaxBackupIndex" value="5" />
    	<layout class="org.apache.log4j.PatternLayout">
      		<param name="ConversionPattern"
				value="%r %d{ISO8601} %-5p %c - %m%n"/>
    	</layout>
  	</appender>

    <appender name="InvalidUserDeletionAppender" class="org.apache.log4j.RollingFileAppender">
    	<param name="File" value="logs/affairo-invaliduser-deletion.log" />
    	<param name="Threshold" value="INFO" />
    	<param name="MaxFileSize" value="100MB" />
    	<param name="MaxBackupIndex" value="5" />
    	<layout class="org.apache.log4j.PatternLayout">
      		<param name="ConversionPattern"
				value="%r %d{ISO8601} %-5p %c - %m%n"/>
    	</layout>
  	</appender>
    <appender name="FakeUserDeletionAppender" class="org.apache.log4j.RollingFileAppender">
    	<param name="File" value="logs/affairo-fakeuser-deletion.log" />
    	<param name="Threshold" value="INFO" />
    	<param name="MaxFileSize" value="100MB" />
    	<param name="MaxBackupIndex" value="5" />
    	<layout class="org.apache.log4j.PatternLayout">
      		<param name="ConversionPattern"
				value="%r %d{ISO8601} %-5p %c - %m%n"/>
    	</layout>
  	</appender>
	<logger name="net.anotheria" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="DebugAppender"/>
		<appender-ref ref="InfoAppender"/>
		<appender-ref ref="WarnAppender"/>
		<appender-ref ref="ErrorAppender"/>
		<appender-ref ref="FatalAppender"/>
		<appender-ref ref="RootAppender"/>
		<appender-ref ref="ConsoleErrorAppender"/>
	</logger>

 	<logger name="net.anotheria.affairo" additivity="true">
		<level value="ERROR"/>
		<appender-ref ref="AffairoInfoAppender"/>
	</logger>
	
	<logger name="net.anotheria.affairo.api.matching" additivity="true">
		<level value="INFO"/>
		<appender-ref ref="AffairoInfoAppender"/>
		<appender-ref ref="AffairoMatchingAppender"/>
		<appender-ref ref="ConsoleAppender"/>
	</logger>
	
	<logger name="net.anotheria.affairo.api.matching2" additivity="true">
		<level value="INFO"/>
		<appender-ref ref="AffairoInfoAppender"/>
		<appender-ref ref="AffairoMatchingAppender"/>
		<appender-ref ref="ConsoleAppender"/>	
	</logger>
	
	<logger name="net.anotheria.affairo.api.messaging.MessagingAPIImpl" additivity="true">
		<level value="INFO"/>
		<appender-ref ref="AffairoInfoAppender"/>
		<appender-ref ref="AffairoMatchingAppender"/>
		<appender-ref ref="ConsoleAppender"/>	
	</logger>
	
	<logger name="net.anotheria.affairo.api.mail.MailAPIImpl" additivity="true">
		<level value="INFO"/>
		<appender-ref ref="AffairoInfoAppender"/>
		<appender-ref ref="AffairoMatchingAppender"/>
		<appender-ref ref="ConsoleAppender"/>	
	</logger>
	
	<logger name="net.anotheria.affairo.api.fakesanalytic" additivity="true">
		<level value="INFO"/>
		<appender-ref ref="AffairoInfoAppender"/>
		<appender-ref ref="ConsoleAppender"/>
	</logger>
	
	<logger name="test" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="DebugAppender"/>
		<appender-ref ref="AffairoInfoAppender"/>
		<appender-ref ref="WarnAppender"/>
		<appender-ref ref="ErrorAppender"/>
		<appender-ref ref="FatalAppender"/>
		<appender-ref ref="RootAppender"/>
		<appender-ref ref="ConsoleAppender"/>
	</logger>	
	
	<logger name="MessagingServer" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="WarnAppender"/>
		<appender-ref ref="ErrorAppender"/>
		<appender-ref ref="FatalAppender"/>
		<appender-ref ref="RootAppender"/>
		<appender-ref ref="AffairoServerAppender"/>
	</logger>

	<logger name="UserServer" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="DebugAppender"/>
		<appender-ref ref="AffairoInfoAppender"/>
		<appender-ref ref="WarnAppender"/>
		<appender-ref ref="ErrorAppender"/>
		<appender-ref ref="FatalAppender"/>
		<appender-ref ref="RootAppender"/>
		<appender-ref ref="ConsoleAppender"/>
	</logger>
	
	<logger name="payment.verification" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="PaymentVerificationAppender"/>
		<appender-ref ref="ConsoleAppender"/>
	</logger>
	<logger name="payment.multipays" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="PaymentMultipaysAppender"/>
	</logger>		
	<logger name="payment.tracking" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="PaymentTrackingAppender"/>
	</logger>	
	<logger name="payment.monitoring.heidelpay" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="PaymentMonitoringHeidelpay"/>
	</logger>
	<logger name="account.deletion" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="AccountDeletionAppender"/>
		<appender-ref ref="ConsoleAppender"/>
	</logger>
	<logger name="account.deleted" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="AccountDeletedAppender"/>
	</logger>
	<logger name="regions.migration.error" additivity="false">
		<level value="ERROR"/>
		<appender-ref ref="RegionsMigrationErrorAppender"/>
	</logger>
	<logger name="regions.migration.success" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="RegionsMigrationAppender"/>
		<!-- 
		<appender-ref ref="ConsoleAppender"/>
		 -->
	</logger>
    <logger name="invalid.user.deletion" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="InvalidUserDeletionAppender"/>
        <appender-ref ref="ConsoleAppender"/>
    </logger>
    <logger name="fake.user.deletion" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="FakeUserDeletionAppender"/>
        <appender-ref ref="ConsoleAppender"/>
    </logger>

	<!-- root logger - logs warnings and higher to console and file -->
	<root>
		<level value="ERROR"/>
		<appender-ref ref="ConsoleAppender"/>
	</root>
  
</log4j:configuration>
  
