<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.3.dtd">

<web-app>
    <display-name>moskitodemo</display-name>
     <servlet>
        <servlet-name>demoservlet1</servlet-name>
        <servlet-class>net.java.dev.moskitodemo.servlet.SimpleServlet</servlet-class>
  		<load-on-startup>5</load-on-startup>
    </servlet>
    
     <servlet>
        <servlet-name>demoservlet2</servlet-name>
        <servlet-class>net.java.dev.moskitodemo.servlet.TomcatServlet</servlet-class>
  		<load-on-startup>5</load-on-startup>
    </servlet>

	<servlet-mapping>
		<servlet-name>demoservlet1</servlet-name>
		<url-pattern>/demo1/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>demoservlet2</servlet-name>
		<url-pattern>/demo2/*</url-pattern>
	</servlet-mapping>
	<!--  MOSKITO UI-->
	<!--  Adding filter to moskito ui which redirects requests to /mui/* to moskito user interface -->	
   	<filter>
        <filter-name>MoskitoUIFilter</filter-name>
       	<filter-class>net.java.dev.moskito.webui.MoskitoUIFilter</filter-class>
		<init-param>
			<param-name>path</param-name>
			<param-value>/mui/</param-value>
		</init-param>
   	</filter>
   	<filter-mapping>
       	<filter-name>MoskitoUIFilter</filter-name>
   	    <url-pattern>/mui/*</url-pattern>
    </filter-mapping>
    <!--  / MOSKITO UI END -->

   	<filter>
        <filter-name>MoskitoDemoFilter</filter-name>
       	<filter-class>net.java.dev.moskitodemo.MoskitoDemoFilter</filter-class>
		<init-param>
			<param-name>path</param-name>
			<param-value>/guestbook/</param-value>
		</init-param>
   	</filter>

	<filter>
        <filter-name>MoskitoCommandFilter</filter-name>
        <filter-class>net.java.dev.moskito.web.filters.MoskitoCommandFilter</filter-class>
    </filter>
	<filter>
        <filter-name>JourneyFilter</filter-name>
        <filter-class>net.java.dev.moskito.web.filters.JourneyFilter</filter-class>
    </filter>

<!-- temporarly outcommented  
	<filter>
        <filter-name>Path2UseCaseMapper</filter-name>
        <filter-class>net.java.dev.moskito.web.filters.Path2UseCaseMapperFilter</filter-class>
		<init-param>
			<param-name>usecases</param-name>
			<param-value>
				/login:login,
				/solveQE:QESolve,
				/bla:login
			</param-value>
		</init-param>
    </filter>
 -->

	<filter>
        <filter-name>DomainFilter</filter-name>
        <filter-class>net.java.dev.moskito.web.filters.DomainFilter</filter-class>
		<init-param>
			<param-name>limit</param-name>
			<param-value>50</param-value>
		</init-param>
    </filter>

	<filter>
        <filter-name>UserAgentFilter</filter-name>
        <filter-class>net.java.dev.moskito.web.filters.UserAgentFilter</filter-class>
		<init-param>
			<param-name>limit</param-name>
			<param-value>100</param-value>
		</init-param>
    </filter>

	<filter>
        <filter-name>RefererFilter</filter-name>
        <filter-class>net.java.dev.moskito.web.filters.RefererFilter</filter-class>
		<init-param>
			<param-name>limit</param-name>
			<param-value>100</param-value>
		</init-param>
    </filter>

	<filter>
        <filter-name>RequestURIFilter</filter-name>
        <filter-class>net.java.dev.moskito.web.filters.RequestURIFilter</filter-class>
		<init-param>
			<param-name>limit</param-name>
			<param-value>100</param-value>
		</init-param>
    </filter>


    <filter-mapping>
        <filter-name>MoskitoCommandFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>JourneyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
<!--  temporarly disabled
    <filter-mapping>
        <filter-name>Path2UseCaseMapper</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
 -->

    <filter-mapping>
        <filter-name>DomainFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>RequestURIFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UserAgentFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>RefererFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
   	<filter-mapping>
       	<filter-name>MoskitoDemoFilter</filter-name>
   	    <url-pattern>/guestbook/*</url-pattern>
    </filter-mapping>
   	<filter-mapping>
       	<filter-name>MoskitoDemoFilter</filter-name>
   	    <url-pattern>/demo/*</url-pattern>
    </filter-mapping>

	<welcome-file-list>
	    	<welcome-file>index.html</welcome-file>
  	</welcome-file-list>

	<!-- taglib definitions -->
	<!--jsp-config-->
	<taglib>
    	<taglib-uri>/tags/json</taglib-uri>
	    <taglib-location>/WEB-INF/tld/json.tld</taglib-location>
	</taglib>
		
	<!--/jsp-config-->

    <listener>
		<listener-class>
			net.java.dev.moskito.webui.util.StartStopListener
		</listener-class>
	</listener>
    <listener>
		<listener-class>
			net.java.dev.moskito.web.session.SessionCountProducer
		</listener-class>
    </listener>
    <listener>
		<listener-class>
			net.java.dev.moskitodemo.threshold.presentation.listener.SetupThresholds
		</listener-class>
    </listener>
    <listener>
		<listener-class>
			net.java.dev.moskitodemo.threshold.presentation.listener.SetupAccumulators
		</listener-class>
    </listener>
    <listener>
		<listener-class>
			net.java.dev.moskito.webui.util.SetupPreconfiguredAccumulators
		</listener-class>
	</listener>
  		
	
</web-app> 