.lightbox .bar_chart, .lighbox .pie_chart{
    display: none;
}
.lightbox .bar_chart.active, .lighbox .pie_chart.active{
    float:left; display:block; width:16px; height:16px;
}
.lightbox #chartcontainer {
    padding: 20px;
    float: none;
}