a:link,
a:active,
a:visited {color: #3C6FA8; text-decoration: none}
a:hover   {color: #3C6FA8; text-decoration: underline}

a.topic:link,
a.topic:active,
a.topic:visited {color: #3C6FA8; font-weight: bold; text-decoration: none}
a.topic:hover   {color: #3C6FA8; font-weight: bold; text-decoration: underline}

body {margin: 3 3;  background-color: #ffffff; }
body,td {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000;} 


.lineCaptions {background-color: #dddddd; padding-left: 4px; padding-top: 2px; padding-bottom: 2px;}
.lineDark  {background-color: #dddddd; padding-left: 4px; padding-top: 2px; padding-bottom: 2px;}
.lineLight {background-color: #eeeeee; padding-left: 4px; padding-top: 2px; padding-bottom: 2px;}

.head_topic_dark  {background-color: #dddddd; padding-left: 4px; padding-top: 4px; padding-bottom: 4px;}
.head_topic_light {background-color: #eeeeee; padding-left: 4px; padding-top: 4px; padding-bottom: 4px;}

.menuTitleSelected  {background-color: #dddddd; padding-left: 4px; padding-top: 4px; padding-bottom: 4px;}
.menuTitle {background-color: #eeeeee; padding-left: 4px; padding-top: 4px; padding-bottom: 4px;}
